body {
    background-color: white;
    margin: 0;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(198, 68, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 30px !important;
    font-family: 'Arial Black', Gadget, sans-serif;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;      
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;  
}
#navbar-logo{
    width: 150px;
    height: 150px;
}
#navbar ul li {
    float: left;
    margin-right: 20px;
    text-decoration: none;
    font-size: 30px !important;
}
#navbar a:any-link {
    color: white;
    text-decoration: none;
}
#navbar a:hover {
    color: rgb(193, 43, 43);
    transition-duration: 0.35s;
}
#header{
    background-image: url(/images/seamless-background-hand-drawn-food-260nw-765121927\ \(1\).webp);
}
main{
    font-family: cursive;
}
footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    background: #c644da;
    justify-content: center;
}
.opening-hours {
    list-style-type: none;
    padding-bottom: 20px;
    line-height: 40px;
    justify-content: center;
}
.opening-hours li {
    text-decoration: underline white dashed 2px;
    text-underline-offset:5px;
    font-weight: bolder;
}
.opening-hours h1 {
    text-decoration: none;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


footer > div {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 2rem;
}

footer .opening-hours, footer .socials {
        text-align: center;
    }
